@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bd {
  border: 0.3px solid;
  border: linear-gradient(180deg, #2f2f37 27.85%, rgba(47, 47, 55, 0) 100%);
}

@theme {
  --color-black-100: #050505;
  --color-gray-100: #0f0c1724;
  --color-gray-200: #929191;
  --color-yellow-100: #dcfc36;
  --color-yellow-200: #dcfc3633;
  --color-lemon-100: #a9c711;
  --color-red-100: #ff4d4f;
}
.manrope {
  font-family: 'Manrope', sans-serif;
}
.sora {
  font-family: 'Sora', sans-serif;
}
.space {
  font-family: 'Space Grotesk', sans-serif;
}
.pat {
  height: 400px;
  background-image: url('../../public/images/pattern.png');
  width: 100%;
  background-size: 1000px auto;
  background-repeat: no-repeat;
  background-position: center center; /* or just 'center' */
}

.yearly {
  background: linear-gradient(
    137.34deg,
    rgba(6, 6, 6, 0.16) 23.98%,
    rgba(112, 113, 122, 0.16) 65.73%
  );
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-circle {
  animation: spin 20s linear infinite;
  border-style: dashed; /* makes rotation visually obvious */
  border-width: 1px;
  border-color: #cac6dd;
  border-radius: 50%;
  opacity: 0.1;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-track {
  animation: scroll-left 20s linear infinite;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow: auto; /* or scroll */
}
